{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/semi": ["error"],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/restrict-plus-operands": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-explicit-any": [ 
      "error",
      {  
        "fixToUnknown": true,
        "ignoreRestArgs": false
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_" }
    ],
    "no-case-declarations": "off",
    "no-console": "off",
    "linebreak-style": "warn",
    "@typescript-eslint/func-names": ["off"],
    "func-names": ["off"],
    "@typescript-eslint/space-before-function-paren": ["off"],
    "space-before-function-paren": ["off"],
    "no-multiple-empty-lines": ["error", { "max": 2 }],
    "import/extensions": [
      "warn",
      "never",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
   ]
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}