.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  display: flex;
  list-style-type: none;
  font-size: 1.2rem;
  align-items: center;
}

.Text-page {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  padding: 2rem;
  justify-content: space-evenly;
}

.user-input-div {
  max-width: 25%;
  padding: 2rem;
  /* background-color: #61dafb; */
}

.text-div {
  max-width: 75%;
  padding: 2rem;
  /* background-color: #fb61c2; */
}

.change-status-div {
  padding: 1rem;
}

.word-status-toolbar {
  display: flex;
}

.translation-div {
  padding: 1rem;
}

li {
  margin-right: 10px;
}
