.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  display: flex;
  list-style-type: none;
  font-size: 1.2rem;
  align-items: center;
}

.Text-page {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  align-items: flex-start;
  /* padding: 1rem; */
  justify-content: space-evenly;
}

.single-text-page {
  display: flex;
  flex-direction: row;
}

.user-input-div {
  /* max-width: 25%; */
  padding: 1rem;
  /* background-color: #61dafb; */
}

.textList {
  display: flex;
  max-width: 100vw;
  align-items: baseline;
  flex-wrap: wrap;
}

.textItem {
  /* padding: 1rem; */
  width: 30%;
  min-width: 30ch;
}

.newTextForm {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.text-div {
  /* max-width: 75%; */
  padding: 1.5rem;
  /* background-color: #fb61c2; */
}

.change-status-div {
  padding: 1rem;
}

.word-status-toolbar {
  display: flex;
}

.translation-div {
  padding: 1rem;
}

li {
  margin-right: 10px;
}

.langForm {
  display: flex;
  flex-direction: column;
  background-color: #61dafb;
  width: 30vw;
  padding: 2rem;
}

.navBar {
  display: flex;
  align-items: flex-start;
}